<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>

<body>

    <div class="container">


        <form action="" class="box">
            <h1>Registration</h1>

            <div>

            <div class="">
                <label for="" class="labelname">
                   <input type="text" placeholder="Name" name="" id="">
                </label>    
            </div>

            <div class="">
                <label for="" class="labelname"> 
                    <input type="text" placeholder="Account Number" name="" id="">
                </label>             
            </div>

            <div>
                <label for="" class="labelname"> 
                    <input type="password" placeholder="Password" name="" id="">
                </label>
            </div>

            <div class="">
                <label for="" class="labelname"> 
                    <input type="text" placeholder="Email" name="" id="">
                </label>     
            </div>

            <div>
                <label for="" class="labelname"> 
                    <input type="number" placeholder="Phone Number" name="" id="">
                </label>
            </div>
            <div class="">
                <button routerLink="" class="btn btn1">Create Account</button>     
                <button routerLink="" class="btn btn2">Cancel</button>
            </div>
        </div>
            
        </form>

    </div>


</body>

</html>